#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

html {
  background-image: url("./assets/backgroundImage.png");  
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.label-input {
  color: white;
  font-size:50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bold;
}

.container{
  background: #c1353A;
  opacity: 0.92;
  width: 350px;
  max-height: 450px;
  display: flex;
  flex-flow: column;
}

.form-gift{
  background-color: #DDD;
  
}

Form{
  padding: 0.5em;
}

.item-text{
  background-color: aliceblue;
  padding-left: 1em;
}

